Source: libbpp-raa
Section: libs
Priority: optional
Maintainer: Julien Dutheil <jdutheil@birc.au.dk>
Build-Depends: debhelper (>= 5), cmake (>= 2.6), zlib1g-dev (>= 1.2.3), libbpp-core-dev (>= 2.0.0), libbpp-seq-dev (>= 2.0.0), zlib1g (>= 1.2.3), libbpp-core (>= 2.0.0), libbpp-seq (>= 2.0.0)
Standards-Version: 3.7.2

Package: libbpp-raa-dev
Section: libdevel
Architecture: any
Depends: libbpp-raa (= ${binary:Version}), zlib1g-dev (>= 1.2.3), libbpp-core-dev (>= 2.0.0), libbpp-seq-dev (>= 2.0.0)
Description: The Bio++ Remote Acnuc Access library development files.
 This library contains utilitary and classes to query public database GenBank, EMBL, SwissProt, etc) using acnuc.
 It is part of the Bio++ project.

Package: libbpp-raa
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g (>= 1.2.3), libbpp-core (>= 2.0.0), libbpp-seq (>= 2.0.0)
Description: The Bio++ Remote Acnuc Access library.
 This library contains utilitary and classes to query public database GenBank, EMBL, SwissProt, etc) using acnuc.
 It is part of the Bio++ project.

